@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans+TC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 17px;
}

body {
    background: #323232;
    font-family: "Poppins";
}

section {
    min-height: 100vh;
    color: #fff;
}

.bg {
    position: relative;
    background: #2bbaff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg::before {
    position: absolute;
    content: "";
    bottom: 0;
    height: 500px;
    width: 100%;
    background: #323232;
}

.bg h2 {
    position: relative;
    font-size: 3rem;
    /* background: #323232; */
}

.shape {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 500px;
    background: #2bbaff;
}

.shape.left {
    left: 0;
    /* background: #0f0; */
}

.shape.right {
    right: 0;
    /* background: #f00; */
}

section h3,
section p {
    padding: 0 8rem;
}

section h3 {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

section p {
    font-size: 0.8rem;
}
